* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before {
  box-sizing: border-box;
}
*::after {
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
a {
  text-decoration: none;
  color: inherit;
}
pre {
  font-family: 'Fira Code Medium', Consolas, monospace;
}

@import './node_modules/highlight.js/styles/atom-one-dark.css';
@import './src/lib/_helper.scss';

body {
  font-size: 16px;
}
.site-page {
  background: #ffffff;
  min-height: 100vh;
}
.site-main {
  padding-top: 16px;
  padding-left: 16px;
  background-color: #f7f9fa;
}
.site-header {
  background-color: #fff;
  border-bottom: 1px solid $border-color;
  z-index: 2;
  padding: 8px 0;
  .logo-container {
    padding: 0 $padding;
    display: flex;
    align-items: center;
    > img {
      margin-right: 8px;
    }
    > span {
      color: $main-color;
      font-size: 32px;
    }
  }
}
.site-aside {
  border-right: 1px solid $border-color;
  h2 {
    padding: $padding;
    font-size: 18px;
  }
  ul {
    min-width: 12em;
    > li {
      a {
        color: #333;
        display: block;
        padding: 8px $padding;
        &:hover {
          color: $main-color;
        }
        &.active {
          color: white;
          background: #a09fdd;
        }
      }
    }
  }
}
.site-footer {
  text-align: center;
  font-size: 12px;
  color: #666;
  padding: 16px 0;
  border-top: 1px solid $border-color;
}
.example {
  padding: 16px 0;
}

// md-container
.happy-ui-md-container {
  .table-of-contents {
    position: fixed;
    right: 20px;
    padding: 15px;
    background: white;
    border-radius: 10px;
    li {
      margin: 10px 0;
    }
    a {
      color: $main-color;
      font-size: 14px;
    }
  }
  ol {
    padding-left: 0;
    li {
      list-style: none;
    }
  }
  li {
    list-style: initial;
    & + li {
      margin-top: 0;
    }
  }

  h2 {
    margin: 16px 0 16px 0;
    &:first-of-type {
      margin-top: 3px;
    }
  }
}
